/**
* @description: loading css样式汇总
* @author: Qzx
* @update: name (2017-08-15 18:32)
*/
body {
  background-color: #f5f5d5;
}
.container {
  width: 980px;
  margin: 0 auto;
  padding-top: 100px;
}
.flex{
  display: flex;
  padding: 50px;
}

/*-----  spinner开始 -----*/

.spinner {
    font-size: 20px;
    width: 5em;
    height: 5em;
    margin: 50px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 .1em rgba(58, 168, 237, .2);
}

.spinner i {
    position: absolute;
    clip: rect(0, 5em, 5em, 2.5em);
    width: 5em;
    height: 5em;
    animation: spinner-circle-clipper 1s ease-in-out infinite;
}

@keyframes spinner-circle-clipper {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.spinner i:after {
    position: absolute;
    clip: rect(0, 5em, 5em, 2.5em);
    width: 5em;
    height: 5em;
    content: '';
    animation: spinner-circle 1s ease-in-out infinite;
    border-radius: 50%;
    box-shadow: inset 0 0 0 .1em #3aa8ed;
}

@keyframes spinner-circle {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(180deg);
    }
}
 /*----- spinner结束 -----*/
