/**
* @description: weui flex布局样式
* @author: Qzx
* @update: name (2017-07-07 18:32)
*/

.weui-flex{
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
}
.weui-flex__item{
  -webkit-box-flex:1;
  -webkit-flex:1;
          flex:1;
}
